<!-- Contenedor principal del login -->
<div class="content" role="main">

  <!--====================================================================================-->

  <!-- titulo de la pagina - componente-->
  <h2 style="text-align: center;">Seguimiento de alicuotas</h2>

  <!--====================================================================================-->

  <!-- boton para abri el ngmodel - form para la creacion de allicuotas-->
  <div style="text-align: center; margin-bottom: 10px;">
    <button type="button" class="btn btn-success" (click)="openFormCreate(contentCreate)"
      *ngIf="usersService.isAccountant">agregar seguimiento
    </button>
  </div>

  <div style="display: flex; margin-bottom: 10px; margin-top: 10px;">
    <input class="form-control" type="search" placeholder="Buscar por descrición, mes o año" aria-label="Search"
    (input)="filterList($event)">
  </div>

  <!--====================================================================================-->

  <!--Tabla para visualizacion de alicuotas-->
  <div class="table-responsive">

    <!--tabla-->
    <table class="table">

      <!--Cabecera de la tabla-->
      <thead class="table-dark">
        <tr>
          <th>Descripción</th>
          <th>Valor alicuota</th>
          <th>Total mensual</th>
          <th>Mes</th>
          <th>Año</th>
          <th>Estado de gastos mensuales</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <!-- Cuerpo de la tabla-->
      <tbody>
        <tr *ngFor="let item of collectionAliquotSeguimiento.data | paginate: config">
          <td>{{item.Descripcion}}</td>
          <td>{{item.ValorCuota}}</td>
          <td>{{item.Total}}</td>
          <td>{{item.Mes}}</td>
          <td>{{item.Anio}}</td>
          <td>{{item.Estado}}</td>
          <td>

            <!--Boton para poder editar y abrir el ngModel form de edicion-->
            <button type="button" class="btn btn-primary" (click)="openEditar(contentEdit,item)" *ngIf="item.Estado != 'Pagada'">
              Editar
            </button>

          </td>

        </tr>
      </tbody>

    </table>

    <!-- boton para la paginacion de la tabla-->
    <pagination-controls previousLabel="Anterior" nextLabel="siguiente" (pageChange)="pageChanged($event)">
    </pagination-controls>

  </div>


  <!--====================================================================================-->

  <!-- modal de creacion-->
  <ng-template #contentCreate let-modal>

    <!--Cabecera del modal-->
    <div class="modal-header">

      <!--tITULO-->
      <h4 class="modal-title" id="modal-basic-title">Crear seguimiento</h4>

      <!--boton de cerrar-->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <!--Cuerpo del modal-->
    <div class="modal-body">

      <!--formulario de creacion-->
      <form>
        <div class="form-group">
          <!--group form-->
          <form [formGroup]="alicuotaSeguimientoFormCreate">
            <!--group form de nombre-->
            <div class="form-group">
              <label>Descripción</label>
              <input type="text" formControlName="Descripcion" class="form-control" maxlength='100'>
            </div>
            <!--group form del valor de la cuota-->
            <div class="form-group">
              <label>Valor alicuota</label>
              <!--input con delimitacion de longitud-->
              <input type="number" maxlength="2"
                oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                formControlName="ValorCuota" class="form-control">
            </div>
            <!--form group de estado-->
            

            <!--form de fecha establecida con limitaciones a la fecha actual-->
            <div class="form-group">
              <label>Mes - Año</label>

              <!--limitacion de la fecha actual-->
              <input type="month" formControlName="Fecha" class="form-control">

            </div>

          </form>

        </div>
      </form>

    </div>

    <!--Botones para la paginacion-->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createAliquotSeguimiento()"
        *ngIf="!actualizar">Guardar</button>
    </div>

  </ng-template>

  <!--====================================================================================-->

  <!--Ng Template de edicion-->
  <ng-template #contentEdit let-modal>

    <!--Header del modal-->
    <div class="modal-header">

      <!--titulo-->
      <h4 class="modal-title" id="modal-basic-title">Actualizar seguimiento</h4>

      <!--boton de cerrado-->
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>

    </div>

    <!-- cuerpo del modal-->
    <div class="modal-body">

      <!--formulario-->
      <form>
        <div class="form-group">

          <!--Form group de edicion-->
          <form [formGroup]="alicuotaSeguimientoFormEdit">

            <!--form de estado -->
            <!--group form de nombre-->
              <div class="form-group">
                <label>Descripcion</label>
                <input type="text" formControlName="Descripcion" class="form-control" maxlength='100'>
              </div>
              <div class="form-group">
                <label>Estado de gastos mensuales</label>
                <select type="'text" formControlName="Estado" class="form-control" placeholder="Elija un estado">
                  <option *ngFor="let status of statusEvent" [ngValue]="status">{{status}}</option>
                </select>
              </div>

          </form>

        </div>
      </form>

    </div>

    <!--botones de paginacion-->
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="updateSeguimiento()">Guardar</button>
    </div>

  </ng-template>

  <!--====================================================================================-->

</div>