<ion-header class="ion-no-border">


<ion-toolbar>
  <ion-buttons slot="start">
    <ion-tab-button (click)="chatTabPage()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-tab-button>
  </ion-buttons>
  <ion-buttons slot="primary">
      <img class="img-profile" src="{{img}}"/>
  </ion-buttons>

  <ion-title style="text-align: center;">{{name}}</ion-title>
</ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-no-border" class="background" #content>

  <div style="margin-bottom: 4rem;">
    <ion-list  *ngFor="let chat of chats" style="background-color: transparent;">
    <div class="grid-container responsive">

    <ion-item class="chatMsgOtro" *ngIf="chat.uid != uid"  >    
      <ion-label class="ion-text-left">
        <div>
          <h5><b>{{name}}</b></h5>        
        <p>{{chat.msg}}</p>                          
        <p style="font-size: 10px;">{{chat.fecha}}, {{chat.hora}}</p>           
        </div>      
      </ion-label>
    </ion-item>

    </div>

    <div class="grid-container responsive">
      <div></div>
    <ion-item class="chatMsgMio" *ngIf="chat.uid == uid">
      <ion-label class="ion-text-right">
        <div>
          <h5><b>yo</b></h5> 
          <ion-text>
            <p>{{chat.msg}}</p> 
          </ion-text>       
                                 
        <p style="font-size: 10px;">{{chat.fecha}}, {{chat.hora}}</p>           
        </div> 
      </ion-label>
    </ion-item>
  </div>

  </ion-list>
  </div>
  


    <ion-item class="itemsend" >
      <ion-input maxlength="25" [(ngModel)]="letras" placeholder="Escribir..." #textMsg (keyup.enter)="send(textMsg.value)" (keypress)="validarTecla($event,textMsg.value)" maxlength="20"></ion-input>
      <ion-buttons slot="end">
        <ion-tab-button (click)="send(textMsg.value)">
          <ion-icon class="iconSend" name="paper-plane"></ion-icon>
        </ion-tab-button>
      </ion-buttons>
    </ion-item>

  

  
</ion-content>

