<ion-header class="ion-no-border" class="background">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-tab-button routerLink='/profile'>
        <ion-avatar style="height: 32px; width: 32px;">
          <img src="{{imgProfile}}">
        </ion-avatar>
      </ion-tab-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-tab-button (click)="logout()">
        <ion-icon class="more" name="log-in"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    <ion-title style="text-align: center; font-size: 14px;">Hola, {{name}}</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-slides [options]="option">
    <ion-slide *ngFor="let item of eventos" routerLink='/tabs/tabevent'>
      <ion-card style="margin: 10px 10px;">
        <img src="{{item.Img}}" style="background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 7rem;
        width: max-content;" />
        <ion-card-header>
          <ion-card-title>{{item.Nombre}}</ion-card-title>
          <ion-card-subtitle>{{item.Reserva.Descripcion}}</ion-card-subtitle>
        </ion-card-header>
      </ion-card>
    </ion-slide>

  </ion-slides>
  <ion-slides [options]="option" *ngIf="eventosLength == 0">
    <ion-slide>
      <ion-card style="margin: 10px 10px;">
        <img src="assets/Eventos.jpg" style="background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 7rem;
        width: max-content;" />
        <ion-card-header>
          <ion-card-title>No hay Eventos</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-slide>

  </ion-slides>

  <ion-item lines="none">
    <ion-label>
      <b>Horarios basura</b>
    </ion-label>
    <ion-badge slot="end" style="background-color: #2196F3;" routerLink='/schedule-trash'>ver todos</ion-badge>
  </ion-item>
  <div *ngIf="collectionTrasScheduleLenght > 0">
    <ion-card style="margin: 5px 10px;">
      <ion-card-content style="padding: 0px;">
        <ion-item lines='none' *ngFor="let item of collectionTrashSchedule">
          <ion-icon slot="start" name="trash-bin-outline" style="color: green;"></ion-icon>
          <ion-label class="item">
            <ion-grid>
              <ion-row>
                <ion-col>
                  {{item.Dia}} - {{item.Hora}}
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-col style="font-size: 12px;">
                  {{item.Descripcion}}
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="collectionTrasScheduleLenght == 0 && dia == 'Martes'">
    <ion-card style="margin: 5px 10px;">
      <ion-card-content style="padding: 0px;">
        <ion-item lines='none' >
          <ion-icon slot="start" name="trash-bin-outline" style="color: green;"></ion-icon>
          <ion-label class="item">
            <ion-grid>
              <ion-row>
                <ion-col>
                  Proximo dia de basura - Miercoles
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="collectionTrasScheduleLenght == 0 && dia == 'Jueves'">
    <ion-card style="margin: 5px 10px;">
      <ion-card-content style="padding: 0px;">
        <ion-item lines='none'>
          <ion-icon slot="start" name="trash-bin-outline" style="color: green;"></ion-icon>
          <ion-label class="item">
            <ion-grid>
              <ion-row>
                <ion-col>
                  Proximo dia de basura - Viernes
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="collectionTrasScheduleLenght == 0 && (dia == 'Sabado' || dia == 'Domingo')">
    <ion-card style="margin: 5px 10px;">
      <ion-card-content style="padding: 0px;">
        <ion-item lines='none'>
          <ion-icon slot="start" name="trash-bin-outline" style="color: green;"></ion-icon>
          <ion-label class="item">
            <ion-grid>
              <ion-row>
                <ion-col>
                  Proximo dia de basura - Lunes
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-label>
        
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>


  <ion-item lines="none">
    <ion-label><b>Reservas</b></ion-label>
    <ion-badge slot="end" style="background-color: #2196F3;" routerLink='/booking'>ver todas</ion-badge>
  </ion-item>

  <div class="reservas" style=" margin-left: 10px; margin-right: 10px; margin-top: 0px; margin-bottom: 0px;">
    <ion-grid>
      <ion-row>
        <ion-col style="background-color: white; border-radius: 20px; margin-right: 5px; text-align: center;">
          <img src="../../../assets/livingroom.jpg" (click)='gotoCreateBooking()' />
          <p style="font-size: 10px; margin-bottom: 0px; margin-top: 0px;">Casa comunal</p>
        </ion-col>
        <ion-col style="background-color: whitesmoke;  border-radius: 10px; margin-right: 5px; text-align: center;">

          <img src="../../../assets/parking.jpg" (click)='gotoCreateBooking()' />

          <p style="font-size: 10px; margin-bottom: 0px; margin-top: 0px;">Parking</p>


        </ion-col>
        <ion-col style="background-color: white; border-radius: 20px; text-align: center; ">

          <img src="../../../assets/park.jpg" (click)='gotoCreateBooking()' />
          <p style="font-size: 10px; margin-bottom: 0px; margin-top: 0px;">Cancha deportiva</p>


        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ion-item lines="none">
    <ion-label><b>Alicuotas</b></ion-label>
    <ion-badge slot="end" style="background-color: #2196F3;" routerLink='/aliquot'>ver todas</ion-badge>
  </ion-item>

  <ion-card style="margin: 5px 10px;">
    <ion-card-content style="padding: 0px;">
      <ion-item lines='none' *ngFor="let item of aliquotCurrentMonth">
        <ion-icon slot="start" name="cash" style="color: green;" *ngIf="item.EstadoCuota == 'Pagada'"></ion-icon>
        <ion-icon slot="start" name="cash" style="color: orange;" *ngIf="item.EstadoCuota == 'Pendiente'"></ion-icon>
        <ion-icon slot="start" name="cash" style="color: red;" *ngIf="item.EstadoCuota == 'No pagada'"></ion-icon>
        <ion-label class="item">
          <ion-grid>
            <ion-row>
              <ion-col>
                {{item.Descripcion}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 12px;">
                {{item.Fecha}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
        <ion-note slot="end" style="margin: auto; font-size: 14px; color: green;" *ngIf="item.EstadoCuota == 'Pagada'">
          <ion-label>
            $ {{item.ValorCuota + item.ValorExtra}}
          </ion-label>
        </ion-note>
        <ion-note slot="end" style="margin: auto; font-size: 14px; color: orange;"
          *ngIf="item.EstadoCuota == 'Pendiente'">
          <ion-label>
            $ {{item.ValorCuota + item.ValorExtra}}
          </ion-label>
        </ion-note>
        <ion-note slot="end" style="margin: auto; font-size: 14px; color: red;" *ngIf="item.EstadoCuota == 'No pagada'">
          <ion-label>
            $ {{item.ValorCuota + item.ValorExtra}}
          </ion-label>
        </ion-note>

      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin: 5px 10px;">
    <ion-card-content style="padding: 0px;">
      <ion-item lines='none' *ngFor="let item of aliquotLastMonth">
        <ion-icon slot="start" name="cash" style="color: green;" *ngIf="item.EstadoCuota == 'Pagada'"></ion-icon>
        <ion-icon slot="start" name="cash" style="color: orange;" *ngIf="item.EstadoCuota == 'Pendiente'"></ion-icon>
        <ion-icon slot="start" name="cash" style="color: red;" *ngIf="item.EstadoCuota == 'No pagada'"></ion-icon>
        <ion-label class="item">
          <ion-grid>
            <ion-row>
              <ion-col>
                {{item.Descripcion}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col style="font-size: 12px;">
                {{item.Fecha}} 
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-label>
        <ion-note slot="end" style="margin: auto; font-size: 14px; color: green;" *ngIf="item.EstadoCuota == 'Pagada'">
          <ion-label>
            $ {{item.ValorCuota + item.ValorExtra}}
          </ion-label>
        </ion-note>
        <ion-note slot="end" style="margin: auto; font-size: 14px; color: orange;"
          *ngIf="item.EstadoCuota == 'Pendiente'">
          <ion-label>
            $ {{item.ValorCuota + item.ValorExtra}}
          </ion-label>
        </ion-note>
        <ion-note slot="end" style="margin: auto; font-size: 14px; color: red;" *ngIf="item.EstadoCuota == 'No pagada'">
          <ion-label>
            $ {{item.ValorCuota + item.ValorExtra}}
          </ion-label>
        </ion-note>

      </ion-item>
    </ion-card-content>
  </ion-card>
  <ion-card style="margin: 5px 10px;" *ngIf="aliquotCurrentMonthLenght == 0 && aliquotLastMonthLenght == 0">
    <ion-card-content style="padding: 0px;">
      <ion-item lines='none'>
        <ion-label>
          No tiene alicuotas
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-tab-bar slot="bottom">
  <!--Home tab-->
  <ion-tab-button routerLink='/home'>
    <ion-icon id="home" name="home"></ion-icon>
    <ion-label >Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/event'>
    <ion-icon  name="calendar"></ion-icon>
    <ion-label>Eventos</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/chat'>
    <ion-icon name="chatbubbles"></ion-icon>
    <ion-label>Chat</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/aliquot-menu'>
    <ion-icon   name="wallet"></ion-icon>
    <ion-label>Cuotas</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/booking'>
    <ion-icon  name="bookmarks"></ion-icon>
    <ion-label>Reserva</ion-label>
  </ion-tab-button>


</ion-tab-bar>
