
ion-title{
    text-align: center;
}

ion-header.background{
    background: #2196F3;    
}

ion-toolbar{
    --background: transparent;
    --color: white;
}


.imgProfile{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20px;
}

.header-md::after {
    background-repeat: no-repeat;
    height: 0px;
}

ion-content{
    --background:white;   
} 






.subtitulo .col1{
    text-align: left;
    font-size: 15px;
}
.subtitulo .col2{
    text-align: right;
    font-size: 12px;
}


.subtitulo2 .col1{
    text-align: left;
    font-size: 15px;
}
.subtitulo2 .col2{
    text-align: right;
    font-size: 12px;
}

.subtitulo3 .col1{
    text-align: left;
    font-size: 15px;
}
.subtitulo3 .col2{
    text-align: right;
    font-size: 12px;
}


ion-icon.aliquot{
    margin-top: 0px;
    margin-bottom: 0px;
}
ion-label.item{
    margin: 0px;
}

ion-tab-bar{
    border: none;
    bottom: 0;
    width: 98%;
    --background: rgba(0,0,0,0.468);
    align-self: center;
    border-radius: 15px;
    margin-bottom: 5px;
    ion-tab-button{
        --background: rgba(0,0,0,0.468);
        --color:white;
       
    }
}