<!-- As a link -->

    <div class="container-fluid" id="nav">
        <div class="row">
            <div class="col">
                <button type="button" routerLink="/login" class="btn btn-success">Volver atras</button>

            </div>
            <div class="col" style="text-align: center; color: white;">
              <h4>Resetear contraseña</h4>
            </div>
            <div class="col">
            </div>
          </div>
    </div>
    <div class="container">
        <div class="row">
          
          <div class="col" style="align-items: center;display: flex;justify-content: center;">
            <div class="mb-3">
                <div style="color: black bold; margin-bottom: 10px;" id="email" class="form-text">Para recuperar tu contraseña debes introducir el correo electrónico con el que <br>estas registrado y se te enviara un link para que puedas restablecer tu <br>contraseña.</div>
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" name="email" id="email" aria-describedby="email" #email  [ngModel]="validarEmail(email.value)" required>
                <div class="d-grid gap-2" style="margin-top: 10px;">
                    <button class="btn btn-primary" [disabled]="!emailValido" type="button" (click)="enviar(email.value)">Resetear contraseña</button>
                </div>
            </div>
          </div>

        </div>
      </div>

  
