ion-card { 
    margin-bottom: -45px;
    margin-top: 0;
    border: none;
}
.twPc-avatarLinkEdit{
    
    margin-top: -20px;
    margin-left: 80px;
}

input[type="file"] {
    display: none;
}

ion-item.items{
    --background: #f0f0f0;
    border-radius: 20px;
    margin: 0 10px 10px 10px;
}

ion-item.itemImg{

    margin: 0 10px 10px 10px;
}