

.greenClass{
  color: green;
}

.orangeClass{
  color:orange
}

.redClass{
  color: red;
}

ion-toolbar{
  --background: #2196F3;
  --color: white;
}

ion-icon {
  font-size: 20px;
}

ion-icon.Edit{
  color: green;
}

ion-icon.Delete{
  color: red;
}



