<ion-header translucent>
  <ion-toolbar>
    
    <ion-buttons slot="start">
      <ion-tab-button >
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    
    <ion-buttons slot="end" (click)="createUserModal()">
      <ion-tab-button>
        <ion-icon name="add-circle"></ion-icon>
      </ion-tab-button>
    </ion-buttons>

    <ion-title style="text-align: center;">Eventos</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen>


  <ion-card *ngFor="let item of collectionEvents | paginate: config">
    <ion-item style="--padding-start: 0px;" lines="none">
      
      <ion-thumbnail slot="start" style="padding: 0px; margin: 0px; width: 30%; height: 50px;" >
        <img src="{{item.Img}}">
      </ion-thumbnail>
      <ion-label style="text-align: center;">{{item.Nombre}}</ion-label>
      <div slot="end">
        <ion-icon class='Edit' name="create" (click)="editEventModal(item)"></ion-icon>
        <br>
        <ion-icon class='Delete' name="trash"  (click)="deleteEvent(item)"></ion-icon>
      </div>
      
    </ion-item>
  
    <ion-card-content style="padding: 0px;">

      <ion-item>
        <ion-grid style="padding: 0px;">
          <ion-row>
            <ion-col style="font-size: 10px; text-align: center;">
              <b>{{item.Descripcion}}</b>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col style="font-size: 10px;">
              Personas: <b>{{item.Personas}}</b>
            </ion-col>
            <ion-col style="font-size: 10px;">
              Lugar: <b>{{item.Lugar}}</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 10px;">
              Hora: <b>{{item.Duracion}}</b>
            </ion-col>
            <ion-col style="font-size: 10px;">
              Fecha: <b>{{item.Fecha}}</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 10px; text-align: center;">
              Estado:
              <b [class.greenClass]="item.EventoAN =='Aprobado'" [class.orangeClass]="item.EventoAN =='En espera'"
                [class.redClass]="item.EventoAN =='Desaprovado'">
                {{item.EventoAN}}
              </b>
            </ion-col>
          </ion-row>
  
        </ion-grid>
  
      </ion-item>

        
      
    </ion-card-content>
    
  </ion-card>
  <!--Botones - controladores de la paginacion-->
  <pagination-controls style="font-size: 13px;" previousLabel="Anterior" nextLabel="siguiente" responsive="true"
    (pageChange)="pageChanged($event)">
  </pagination-controls>
  
</ion-content>