
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-tab-button (click)="cancelar()">
      <ion-icon class="back" name="arrow-back-circle"></ion-icon>
    </ion-tab-button>
  </ion-buttons>
  <ion-title>Restablecer<br>contraseña</ion-title>
</ion-toolbar>
<ion-content>
  <ion-item lines="none">
    <ion-text>
      <h5>Para restablecer tu contraseña introduce tu correo</h5>
    </ion-text>
  </ion-item>



  <ion-item class="itemInput" lines="none">

    <ion-icon position="fixed" name="mail" size="small"></ion-icon>
    <ion-input type="text" name="email" placeholder="Correo electronico" #userMail style="margin-left: 10px;">
    </ion-input>
  </ion-item>

 
    <ion-button size="larger" expand="full" shape="round" (click)="resetPassword(userMail.value)">Resetear contraseña</ion-button>

</ion-content>