<ion-header class="ion-no-border" class="background">


  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-tab-button (click)="goHome()">
        <ion-icon class="back" name="arrow-back-circle"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    
    <ion-buttons slot="end" *ngIf="usersService.isAdmin">
      <ion-tab-button (click)="goRegister()">
        <ion-icon class="more" name="people"></ion-icon>
      </ion-tab-button>    
    </ion-buttons>

    <ion-title style="text-align: center;"  *ngIf="usersService.isAdmin">Perfil</ion-title>
    <ion-title  *ngIf="!usersService.isAdmin">Perfil</ion-title>
    
  </ion-toolbar>

  <ion-card style="width: fit-content;margin-left: auto; margin-right: auto;">
    <ion-avatar style="height: 150px; width: 150px;">
      <img style="border-radius: 0px;" src={{imgProfile}}>
    </ion-avatar>
    <div class="twPc-avatarLinkEdit">
      <label class="custom-file-upload">
        <ion-img src="../../../assets/lapiz.svg" style="width: 16px; height: 16px;" alt=""></ion-img>
        <input type="file" (change)="uploadFile($event)" />
      </label>
    </div>

  </ion-card>
</ion-header>

<ion-content fullscreen>

  <!-- List of Text Items -->
  <ion-list style="margin-top: 4rem;">


    <ion-item lines='none'>
      <ion-label style="text-align: center;">{{nameUser}}</ion-label>
    </ion-item>

    <ion-item class="items" lines="none">
      <ion-icon name="mail" slot="start"></ion-icon>
      <ion-label>
        {{emailUser}}
      </ion-label>
    </ion-item>

    <ion-item class="items" lines="none">
      <ion-icon name="call" slot="start"></ion-icon>
      <ion-label>
        {{phoneUser}}
      </ion-label>
    </ion-item>

    <ion-item class="items" lines="none">
      <ion-icon name="home" slot="start"></ion-icon>
      <ion-label>
        {{houseUser}}
      </ion-label>
    </ion-item>

    <ion-item class="items" lines="none">
      <ion-icon name="accessibility" slot="start"></ion-icon>
      <ion-label>
        {{typeUser}}
      </ion-label>
    </ion-item>

    <ion-item lines='none'>
      <ion-button size="smaller" style="margin: auto;" shape="round" (click)="presentPopover()">Editar informacion</ion-button>
    </ion-item>  

  </ion-list>


</ion-content>