<!--Componente de registro de usuarios html-->
<div class="content" role="main">

  <!--Div para el centrado del texto-->
  <div style="text-align: center;">

    <!-- ============================================================================ -->

    <!--Boton para apertura del form-modal de creacion de usuarios-->
    <button type="button" class="btn btn-success" style="margin-bottom: 10px;" (click)="open(contentCreate)">Crear nuevo
      usuario</button>

    <!--Tabla que refleja los usuarios y algunos datos-->
    <table class="table">

      <!--Cabecera de la tabla-->
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Email</th>
          <th>Tipo Usuario</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <!--Cuerpo de la tabla visto a partir de un for -->
      <tbody>
        <tr *ngFor="let item of collection.data">
          <td>{{item.Name}}</td>
          <td>{{item.Email}}</td>
          <td>{{item.TipoUsuario}}</td>
          <td>

            <!--Botones para eliminar y editar el respectivo usuario-->
            <button type="button" class="btn btn-primary" (click)="openEditar(content,item)">Editar</button>
            <button type="button" class="btn btn-danger" (click)="eliminar(item)">Borrar</button>

          </td>
        </tr>
      </tbody>
    </table>

    <!-- ============================================================================ -->

    <!-- Formulario ng template para la edicion de datos-->
    <ng-template #content let-modal>

      <!-- Header del modal -->
      <div class="modal-header">

        <!-- Titulo del card -->
        <h4 class="modal-title" id="modal-basic-title">Actualizar usuario</h4>

        <!-- Boton de cerrado -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <!-- Cuerpo del formulario -->
      <div class="modal-body">

        <!-- formulario con las variables a cambiar -->
        <form>
          <div class="form-group">

            <!-- Grupo formulario que establece variables a partir del component.ts-->
            <form [formGroup]="usersFormEdit">

              <!-- Campo Tipo de Usuario-->
              <div class="form-group">
                <label>Tipo Usuario</label>

                <!-- Select de tipo de usuario apartir del arreglo en el ts-->
                <select type="'text" formControlName="TipoUsuario" class="form-control">

                  <option *ngFor="let listTypes of typeUsers" [ngValue]="listTypes">{{listTypes}}</option>
                </select>

              </div>

            </form>

          </div>
        </form>

      </div>

      <!-- Boton de actualizacion aparatir de los datos del formulario-->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="actualizarUsuario()">Actualizar</button>
      </div>

    </ng-template>

    <!-- ============================================================================ -->

    <!-- Formulario ng template para la creacion de datos-->
    <ng-template #contentCreate let-modal>

      <!-- Header del modal -->
      <div class="modal-header">

        <!-- Titulo del card -->
        <h4 class="modal-title" id="modal-basic-title">Crear Usuario</h4>

        <!-- Boton de cerrado -->
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>

      </div>

      <!-- Cuerpo del formulario -->
      <div class="modal-body">

        <!-- formulario con las variables a crear -->
        <form>
          <div class="form-group">

            <!-- Grupo formulario que establece variables a partir del component.ts-->
            <form [formGroup]="usersFormCreate">

              <!-- Campo Nombre-->
              <div class="form-group">
                <label>Nombre</label>
                <input type="text" formControlName="Name" class="form-control" #Name>
                <div *ngIf="usersFormCreate.get('Name').errors && usersFormCreate.get('Name').dirty">
                  <p *ngIf="usersFormCreate.get('Name').hasError('required')" style="color: red;">Campo Obligatorio</p>
                  <p *ngIf="usersFormCreate.get('Name').hasError('pattern')"  style="color: red;">Solo letras</p>
              </div>
              </div>

              <!-- Campo Email-->
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="Email" class="form-control" #Email>
                <div *ngIf="usersFormCreate.get('Email').errors && usersFormCreate.get('Name').dirty">
                  <p *ngIf="usersFormCreate.get('Email').hasError('required')" style="color: red;">Campo Obligatorio</p>
                  <p *ngIf="usersFormCreate.get('Email').hasError('pattern')"  style="color: red;">correo no valido</p>
              </div>
              </div>

              <!-- Campo password-->
              <div class="form-group">
                <label>Password</label>
                <input type="text" formControlName="Password" class="form-control" #Password>
                <div *ngIf="usersFormCreate.get('Password').errors && usersFormCreate.get('Name').dirty">
                  <p *ngIf="usersFormCreate.get('Password').hasError('required')" style="color: red;">Campo Obligatorio</p>
                  <p *ngIf="usersFormCreate.get('Password').hasError('minlength')" style="color: red;">Minimo 5 caracteres</p>
                  <p *ngIf="usersFormCreate.get('Password').hasError('maxlength')" style="color: red;">Maximo 12 caracteres</p>
                  <p *ngIf="usersFormCreate.get('Password').hasError('pattern')"  style="color: red;">La contraseña debe tener letras y numeros</p>
              </div>
              </div>

              <div class="form-group">
                <label>Casa</label>
                <input type="text" formControlName="Casa" class="form-control" #Casa>
                <div *ngIf="usersFormCreate.get('Casa').errors && usersFormCreate.get('Casa').dirty">
                  <p *ngIf="usersFormCreate.get('Casa').hasError('required')" style="color: red;">Campo Obligatorio</p>
              </div>
              </div>

              <!-- Campo Tipo de usuario-->
              <div class="form-group">
                <label>Tipo Usuario</label>

                <!-- Select de tipo de usuario apartir del arreglo en el ts-->
                <select type="'text" formControlName="TipoUsuario" class="form-control" #TipoUsuario>
                  <option *ngFor="let listTypes of typeUsers">{{listTypes}}</option>
                </select>

              </div>

            </form>

          </div>
        </form>

      </div>

      <!-- Boton de creacion a partir de los datos del formulario-->
      <div class="modal-footer">
        <button type="button" [disabled]="usersFormCreate.invalid" class="btn btn-outline-dark"
          (click)="registerUsers(Email.value, Password.value, Name.value, Casa.value, TipoUsuario.value)">Guardar</button>
      </div>
      <div>
        <label *ngIf="usuarioExist == true" style="color: red;">Un usuario ya existe con ese correo</label>
      </div>

    </ng-template>

    <!-- ============================================================================ -->


  </div>

</div>