<!-- Contenedor principal del login -->
<div class="content" role="main">

  <!--====================================================================================-->
  <!--Titulo-->
  <h2 style="text-align: center; margin-bottom: 2 rem;">Alicuotas</h2>

  <!--====================================================================================-->

  <div class="card text-center" style="margin-top: 2rem;">
    <div class="card-header">
      <h5 class="card-title">Seguimiento general de alicuotas</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        En esta seccion podras vizualizar una descripcion mas detallada de los gasto total del conjunto
        mes a mes de acuerdo a tus pagos de alicuotas y extras.
      </p>
      <a routerLink="/alicuotas/seguimiento"class="btn btn-primary" id="b1">Ver todo</a>
    </div>
  </div>
  

  <!--====================================================================================-->
  <div class="card text-center" style="margin-top: 2rem;">
    <div class="card-header">
      <h5 class="card-title">Seguimiento mensual de alicutoas</h5>
    </div>
    <div class="card-body">
      <p class="card-text">
        En esta seccion podras vizualizar una descripcion mas detallada de los pagos de tus alicuotas mes a mes.
      </p>
      <a routerLink="/alicuotas/usuarios" class="btn btn-primary" id="b1">Ver todo</a>
    </div>

  </div>