<!-- Contenedor principal del login -->
<div class="content" role="main">

  <!--====================================================================================-->

  <!--Titulo de la pagina-->
  <h2 style="text-align: center;">Mis alicuotas</h2>

  <!--====================================================================================-->

  <!--boton que rediceccionaa para registrar alicuotas-->
  <a class="item" routerLink="/alicuotas/usuarios/registrar" *ngIf="usersService.isAccountant">
    <i class="fas fa-money-check fa-sm fa-fw mr-2 text-gray-400"></i>
    Registrar Alicuotas
  </a>

  <!--====================================================================================-->

  <!--div que muestra los datos de la alicuotas-->
  <div *ngFor="let item of collectionAliquot | paginate: config">

    <!--Grid de informacion-->
    <div class="grid-container responsive">

      <!--Primer item del grid-->
      <div class="item1"></div>

      <!--Segundo item del grid-->
      <div class="item2">

        <!--Nombre de a quien va la alicuota-->
        <div>
          <h5>{{item.DatosVecino.Nombre}}</h5>
        </div>
        
        <!--Descripcion de la alicuota-->
        <div>
          <p style="font-size: 12px;">{{item.Descripcion}} </p>
        </div>

      </div>

      <!-- tercer item del grid-->
      <div class="item3">

        <!--Valor de cuota-->
        <div style="font-size: 12px;">Valor: <b>{{item.ValorCuota}}</b></div>

        <!--Valores extra-->
        <div style="font-size: 12px;">Valor extra: <b>{{item.ValorExtra}}</b></div>

        <!--Estado de la cuota-->
        <div style="font-size: 12px;">Estado:
          <b [class.greenClass]="item.EstadoCuota =='Pagada'" [class.orangeClass]="item.EstadoCuota =='Pendiente'" [class.redClass]="item.EstadoCuota =='No pagada'">
            {{item.EstadoCuota}}
          </b>
        </div>

        <!--Fecha de la cuota-->
        <div style="font-size: 12px;">Mes: <b>{{item.Mes}}</b></div>

        <!--Fecha de vencimiento de la cuota-->
        <div style="font-size: 12px;">Año: <b>{{item.Anio}}</b></div>

      </div>

    </div>

  </div>

  <!--====================================================================================-->
  
  <!--Botones de paginacion-->
  <pagination-controls previousLabel="Anterior" nextLabel="siguiente" responsive="true"
    (pageChange)="pageChanged($event)">
  </pagination-controls>

  <!--====================================================================================-->

</div>