<ion-header >
  <ion-toolbar>
    
    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title slot="start" style="text-align: center;">Mensajes</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
  <div id="container">
    <ion-item lines="none" *ngFor="let user of users" (click)="gotoChatRoom(user.Uid,user.Name, user.Img)" button>
      
      <ion-avatar slot="start">
        <ion-img src="{{user.Img}}"></ion-img>
      </ion-avatar>
      <ion-label >
        <h4>{{user.Name}}</h4>
      </ion-label>
  
    </ion-item>
    
  </div>
</ion-content>