<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-tab-button *ngIf="!searchBarOpen" (click)="searchBarOpen=true">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>

    </ion-buttons>

    <ion-title>Mensajes</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen>

  <ion-searchbar mode="ios" *ngIf="searchBarOpen" mode="ios" (ionInput)="filterList($event)"
      showCancelButton='true' 
      placeholder="Buscar por nombre......"
      cancelButtonText="Cancelar"
      (ionClear)="searchValue"
      clearInput>
    </ion-searchbar>

    <ion-item lines="none" *ngFor="let user of users" (click)="gotoChatRoom(user.Uid,user.Name, user.Img)" button style="margin: 10px 0px;">

      <ion-avatar slot="start" style="height: 48px; width: 48px;">
        <ion-img src="{{user.Img}}"></ion-img>
      </ion-avatar>
      <ion-label>
        {{user.Name}}
      </ion-label>

    </ion-item>

    

</ion-content>
<ion-tab-bar slot="bottom">
  <!--Home tab-->
  <ion-tab-button routerLink='/home'>
    <ion-icon id="home" name="home"></ion-icon>
    <ion-label >Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/event'>
    <ion-icon  name="calendar"></ion-icon>
    <ion-label>Eventos</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/chat'>
    <ion-icon id="bt" name="chatbubbles"></ion-icon>
    <ion-label>Chat</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/aliquot-menu'>
    <ion-icon   name="wallet"></ion-icon>
    <ion-label>Cuotas</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/booking'>
    <ion-icon  name="bookmarks"></ion-icon>
    <ion-label>Reserva</ion-label>
  </ion-tab-button>


</ion-tab-bar>