<ion-tabs>

  <ion-tab-bar slot="bottom">
    <!--Home tab-->
    <ion-tab-button tab="tabhome">
      <ion-icon size="small" name="home"></ion-icon>
      <ion-label >Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabevent" >
      <ion-icon size="small" name="calendar"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabchat">
      <ion-icon size="large" name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabaliquot">
      <ion-icon size="small" name="wallet"></ion-icon>
      <ion-label>Cuotas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabbooking">
      <ion-icon size="small" name="bookmarks"></ion-icon>
      <ion-label>Reserva</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
