<ion-tabs style="background-color: white;">

  <ion-tab-bar slot="bottom">
    <!--Home tab-->
    <ion-tab-button tab="tabhome">
      <ion-icon name="home"></ion-icon>
      <ion-label >Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabevent" >
      <ion-icon  name="calendar"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabchat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabaliquot">
      <ion-icon   name="wallet"></ion-icon>
      <ion-label>Cuotas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tabbooking">
      <ion-icon  name="bookmarks"></ion-icon>
      <ion-label>Reserva</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
