<ion-header lines="none" class="ion-no-border">
  <ion-toolbar lines="none">

    <!-- div del panel izquierdo-->
    <div class="panel left-panel">
      <!-- Contenido -->
      <div class="content">
        <!-- titulo span -->
        <h3>Eres nuevo?</h3>
        <!--Texto span-->
        <p>
          No tienes cuenta comunicate con tu presidente mas cercano y consigue tu cuenta
        </p>
      </div>
    </div>
  </ion-toolbar>


</ion-header>


<ion-content>


  <ion-item class="itemInput" lines="none">

    <ion-icon position="fixed" name="person" size="small"></ion-icon>
    <ion-input type="text" name="email" placeholder="Correo electronico" [(ngModel)]="email" style="margin-left: 10px;">
    </ion-input>
  </ion-item>

  <ion-item class="itemInput" lines="none">

    <ion-icon position="fixed" name="lock-closed" size="small"></ion-icon>
    <ion-input type="password" name="password" placeholder="Contraseña" [(ngModel)]="password"
      style="margin-left: 10px;"></ion-input>
  </ion-item>

  <div class="gridButton">
    <div></div>
    <ion-button shape="round" (click)="login()" >Entrar</ion-button>
    <div></div>
  </div>



</ion-content>