

.greenClass{
    color: green;
  }
  
  .orangeClass{
    color:orange
  }
  
  .redClass{
    color: red;
  }
  
  ion-toolbar{
    --background: #2196F3;
    --color: white;
  }
  
  ion-icon.Edit{
    color: green;
  }
  
  ion-icon.Delete{
    color: red;
  }
  ion-icon#cuota{
    color: #2196F3;
  }

  ion-tab-bar{
    border: none;
    bottom: 0;
    width: 98%;
    --background: rgba(0,0,0,0.468);
    align-self: center;
    border-radius: 15px;
    margin-bottom: 5px;
    ion-tab-button{
        --background: rgba(0,0,0,0.468);
        --color:white;
       
    }
}