<ion-header>
  <ion-toolbar>

    <ion-title>Horarios de la basura</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content fullscreen>



    

</ion-content>
<ion-tab-bar slot="bottom">
  <!--Home tab-->
  <ion-tab-button routerLink='/home'>
    <ion-icon name="home"></ion-icon>
    <ion-label >Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/event'>
    <ion-icon  name="calendar"></ion-icon>
    <ion-label>Eventos</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/chat'>
    <ion-icon name="chatbubbles"></ion-icon>
    <ion-label>Chat</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/aliquot'>
    <ion-icon   name="wallet"></ion-icon>
    <ion-label>Cuotas</ion-label>
  </ion-tab-button>

  <ion-tab-button routerLink='/booking'>
    <ion-icon  name="bookmarks"></ion-icon>
    <ion-label>Reserva</ion-label>
  </ion-tab-button>


</ion-tab-bar>
