<div class="content" role="main">

    <div class="twPc-div">
        <a class="twPc-bg twPc-block"></a>

        <div>
            <a class="twPc-avatarLink">
                <img alt="" src="{{imgUserInfor}}" class="twPc-avatarImg">
            </a>

            <div class="twPc-divUser">
                <div class="twPc-divName">
                    <a>{{nameUserInfor}}</a>
                </div>
            </div>

            <div class="cardsInfo">
                <div class="row">
                    <div class="col">
                        <div class="card" id="cards">

                            <div class="card-body">
                                <h6 class="card-title">Correo electronico</h6>
                                <hr class="separacion">
                                <p class="card-text"><small class="text-muted">{{emailUserInfor}}</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="cards">
                            <div class="card-body">
                                <h6 class="card-title">Telefono</h6>
                                <hr class="separacion">
                                <p class="card-text"><small class="text-muted">{{phoneUserInfor}}</small></p>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="cardsInfo">
                <div class="row">
                    <div class="col">
                        <div class="card" id="cards">
                            <div class="card-body">
                                <h6 class="card-title">Casa</h6>
                                <hr class="separacion">
                                <p class="card-text"><small class="text-muted">{{houseUserInfor}}</small></p>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card" id="cards">
                            <div class="card-body">
                                <h6 class="card-title">Tipo usuario</h6>
                                <hr class="separacion">
                                <p class="card-text"><small class="text-muted">{{typeUserInfor}}</small></p>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card text-center" style="border:none">
                <div class="card-body" style="padding-top: 0; padding-bottom: 10px;">
                    <button type="button" class="btn btn-primary" (click)="openEditar(content,nameUserInfor, phoneUserInfor, houseUserInfor)">Editar
                        contenido</button>
                </div>
            </div>
        </div>
    </div>

    <ng-template #content let-modal>
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Actualizar usuario</h4>
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <form [formGroup]="usersFormEdit">

                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" formControlName="Name" class="form-control" #Name>
                        </div>
                        <div class="form-group">
                            <label>Telefono</label>
                            <input type="text" formControlName="Telefono" class="form-control" #Telefono>
                        </div>
                        <div class="form-group">
                            <label>Casa</label>
                            <input type="text" formControlName="Casa" class="form-control" #Casa>
                        </div>
                        
                        

                    </form>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" (click)="actualizarEstudiante()">Actualizar</button>
        </div>
    </ng-template>

</div>