<!--Componente navbar html-->
<div class="content" role="main">
    <!--============================================================================-->

    <!--Formulario de vision de datos del usuario-->
    <div class="twPc-div">

        <!--Imagen de fondo-->
        <a class="twPc-bg twPc-block"></a>

        <!--Imagen de perfil por llamado de variable-->
        <a class="twPc-avatarLink">
            <img alt="" src="{{imgUserInfor}}" class="twPc-avatarImg">
        </a>

        <!--Boton para la edicion de la imagen de perfil-->
        <div class="twPc-avatarLinkEdit">
            <label class="custom-file-upload">
                <img src="../../../assets/lapiz.svg" style="width: 24px; height: 24px;" alt="">
                <input type="file" (change)="uploadFile($event)" />
            </label>
        </div>

        <!--Nombre del usuario por llamado de variable-->
        <div class="twPc-divUser">
            <div class="twPc-divName">
                <a>{{nameUserInfor}}</a>
            </div>
        </div>

        <!--Card 1 para reflejar la informacion del usuario por llamado de variables -->
        <div class="cardsInfo">
            <div class="row">
                <div class="col">
                    <div class="card" id="cards">
                        <div class="card-body">
                            <h6 class="card-title">Correo electronico</h6>
                            <hr class="separacion">
                            <p class="card-text"><small class="text-muted">{{emailUserInfor}}</small></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="cards">
                        <div class="card-body">
                            <h6 class="card-title">Telefono</h6>
                            <hr class="separacion">
                            <p class="card-text"><small class="text-muted">{{phoneUserInfor}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Card 2 para reflejar la informacion del usuario por llamado de variables -->
        <div class="cardsInfo">
            <div class="row">
                <div class="col">
                    <div class="card" id="cards">
                        <div class="card-body">
                            <h6 class="card-title">Casa</h6>
                            <hr class="separacion">
                            <p class="card-text"><small class="text-muted">{{houseUserInfor}}</small></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" id="cards">
                        <div class="card-body">
                            <h6 class="card-title">Tipo usuario</h6>
                            <hr class="separacion">
                            <p class="card-text"><small class="text-muted">{{typeUserInfor}}</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--boton de edicion de informacion por medio llamado de variables -->
        <div class="card text-center" style="border:none">
            <div class="card-body" style="padding-top: 0; padding-bottom: 10px;">
                <button type="button" class="btn btn-primary"
                    (click)="openEditar(content,nameUserInfor, phoneUserInfor, houseUserInfor)">Editar
                    contenido</button>
            </div>
        </div>

    </div>

    <!--============================================================================-->

    <!--Formulario ng template para la edicion de datos-->
    <ng-template #content let-modal>

        <!-- Header del modal -->
        <div class="modal-header">

            <!-- Titulo del card -->
            <h4 class="modal-title" id="modal-basic-title">Actualizar usuario</h4>

            <!-- Boton de cerrado -->
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>

        </div>

        <!-- Cuerpo del formulario -->
        <div class="modal-body">

            <!-- formulario con las variables a cambiar -->
            <form>
                <div class="form-group">

                    <!-- Grupo formulario que establece variables a partir del component.ts-->
                    <form [formGroup]="usersFormEdit">

                        <!-- Campo Nombre-->
                        <div class="form-group">
                            <label>Nombres Y apellidos</label>
                            <input type="text" formControlName="Name" class="form-control" #Name>
                            <div *ngIf="usersFormEdit.get('Name').errors && usersFormEdit.get('Name').dirty">
                                <p *ngIf="usersFormEdit.get('Name').hasError('required')" style="color: red;">Campo Obligatorio</p>
                                <p *ngIf="usersFormEdit.get('Name').hasError('pattern')"  style="color: red;">Solo letras</p>
                            </div>
                        </div>

                        <!-- Campo Telefono-->
                        <div class="form-group">
                            <label>Telefono</label>
                            <input type="text" formControlName="Telefono" class="form-control" #Telefono>
                            <div *ngIf="usersFormEdit.get('Telefono').errors && usersFormEdit.get('Telefono').dirty">
                                <p *ngIf="usersFormEdit.get('Telefono').hasError('required')" style="color: red;">Campo Obligatorio</p>
                                <p *ngIf="usersFormEdit.get('Telefono').hasError('pattern')"  style="color: red;">Numero de telefono incorrecto</p>
                            </div>
                        </div>

                        <!-- Campo Casa-->
                        <div class="form-group">
                            <label>Casa</label>
                            <input type="text" formControlName="Casa" class="form-control" #Casa>
                        </div>

                    </form>

                </div>
            </form>

        </div>

        <!-- Boton de actualizacion aparatir de los datos del formulario-->
        <div class="modal-footer">
            <button type="button" [disabled]="usersFormEdit.invalid" class="btn btn-outline-dark" (click)="actualizarUsuario()">Actualizar</button>
        </div>

    </ng-template>

    <!--============================================================================-->

</div>