.twPc-div {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #e1e8ed;
    border-radius: 20px;

}
.twPc-bg {
    background-image: url("https://pbs.twimg.com/profile_banners/50988711/1384539792/600x200");
    background-position: 0 50%;
    background-size: 100% auto;
    border-bottom: 1px solid #e1e8ed;
    border-radius: 20px 20px 0 0;
    height: 150px;
    width: 100%;
}
.twPc-block {
    display: block !important;
}

.twPc-avatarLink {

    border-radius: 6px;
    max-width: 100%;
    margin-top: -75px;
    vertical-align: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

.btn-primary{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
}
.twPc-avatarImg {
    border: 2px solid #fff;
    border-radius: 7px;
    box-sizing: border-box;
    color: #fff;
    height: 150px;
    width: 150px;
}
.twPc-divUser {
    margin: 10px 10px 5px;
    text-align: center;
}
.twPc-divName {
    font-size: 20px;
    font-weight: 700;
    line-height: 21px;
    text-transform: capitalize;
}

.twPc-divStats {
    padding: 10px 0;
}
.twPc-Arrange {
    box-sizing: border-box;
    display: table;
    margin: 0;
    min-width: 100%;
    text-align: center;
    table-layout: auto;
    
}
ul.twPc-Arrange {
    list-style: outside none none;
    padding: 0;
    margin: 5px 10px 0;
}
.twPc-ArrangeSizeFit {
    display: table-cell;
    padding: 0;
    vertical-align: top;
}
.twPc-ArrangeSizeFit a:hover {
    text-decoration: none;
}
.twPc-StatValue {
    display: block;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.15s ease-in-out 0s;
}
.twPc-StatLabel {
    color: #8899a6;
    font-size: 10px;
    letter-spacing: 0.02em;
    overflow: hidden;
    text-transform: uppercase;
    transition: color 0.15s ease-in-out 0s;
}

.cardsInfo{
    padding-top: 0;
    padding-bottom: 0;
}
#cards{
    border: none;
}

.separacion{
    margin: 10px 0 10px 0;
}