<!-- Contenedor principal del login -->
<div class="content" role="main">
  <h2 style="text-align: center;">Eventos</h2>

  <!--====================================================================================-->

    <a class="item" routerLink="/eventos/registrar" *ngIf="usersService.isAdmin">
      <i class="fas fa-money-check fa-sm fa-fw mr-2 text-gray-400"></i>
      Registrar Eventos
    </a>

  <!---->



  <div *ngFor="let item of collection.data | paginate: config">
    <div class="grid-container responsive">
      <div class="item1" style="background-image: url({{item.Img}});"></div>
      <div class="item2">
        <div>
          <h5>{{item.Nombre}}</h5>
        </div>

        <div>
          <p style="font-size: 12px;">{{item.Descripcion}} </p>
        </div>
      </div>
      <div class="item3">

        <div style="font-size: 12px;">Estado: 
          <b [class.greenClass]="item.EventoAN =='Aprobado'" [class.orangeClass]="item.EventoAN =='En espera'" [class.redClass]="item.EventoAN =='Desaprovado'">
            {{item.EventoAN}}
          </b>
        </div>
        <div style="font-size: 12px;">Lugar: <b>{{item.Lugar}}</b>
        </div>
        <div style="font-size: 12px;">Personas: <b>{{item.Personas}}</b>
        </div>
        <div style="font-size: 12px;">Fecha: <b>{{item.Fecha}}</b>
        </div>
        <div style="font-size: 12px;">Hora. : <b>{{item.Duracion}}</b>
        </div>

      </div>
    </div>

  </div>
  <pagination-controls previousLabel="Anterior" nextLabel="siguiente" responsive="true"
  (pageChange)="pageChanged($event)"></pagination-controls>
  

</div>