<ion-toolbar>
  <ion-title>Editar Alicuota</ion-title>
</ion-toolbar>

<ion-content fullscreen>
  <ion-item class="items" lines="none">
    <ion-icon name="people" slot="start"></ion-icon>
    <ion-label>{{NameAliquotUser}}</ion-label>
  </ion-item>



  <ion-item class="items" lines="none">
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input placeholder="Valor cuota" type="number" min="0" inputmode="numeric"
      [(ngModel)]="aliquotFormEdit.value.ValorCuota" required>
    </ion-input>
  </ion-item>

  <ion-item class="items" lines="none">
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input placeholder="Valor extra" type="number" min="0" inputmode="numeric"
      [(ngModel)]="aliquotFormEdit.value.ValorExtra" required>
    </ion-input>
  </ion-item>

  <ion-item class="items" lines="none">
    <ion-icon name="calendar" slot="start"></ion-icon>

    <ion-datetime cancelText="Cancelar" doneText="Guardar" mode="ios" [(ngModel)]="aliquotFormEdit.value.Fecha"
      min="{{fechaActual|date:'yyyy-MM-dd'}}" (ionChange)="cambio(abcd.value)" #abcd  required>
    </ion-datetime>
  </ion-item>

  <ion-item class="items" lines="none">
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-datetime cancelText="Cancelar" doneText="Guardar" mode="ios" [(ngModel)]="aliquotFormEdit.value.FechaVencimiento"
      min="{{fechaVencimiento|date:'yyyy-MM-dd'}}" required>
    </ion-datetime>
  </ion-item>

  <ion-item class="items" lines="none">
    <ion-icon name="thumbs-up" slot="start"></ion-icon>
    <ion-select mode="ios" required [(ngModel)]="aliquotFormEdit.value.EstadoCuota">
      <ion-select-option *ngFor="let status of estadoCuotaList">{{status}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="items" lines="none">
    <ion-icon name="text-outline" slot="start"></ion-icon>
    <ion-input type='text' [(ngModel)]="aliquotFormEdit.value.Descripcion" required></ion-input>
  </ion-item>

  <!-- Round -->
  <ion-item lines='none'>
    <ion-button size="smaller" style="margin: auto;" shape="round" (click)="updateAliquot()">Guardar</ion-button>
  </ion-item>
</ion-content>