<ion-toolbar>
  <ion-title style="text-align: center;">Actualizar alicuota</ion-title>
</ion-toolbar>

<ion-content fullscreen>
  <ion-item class="items" lines="none">
    <ion-icon name="people" slot="start"></ion-icon>
    <ion-label>{{NameAliquotUser}}</ion-label>
  </ion-item>



  <ion-item class="items" lines="none">
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input placeholder="Valor cuota" type="tel" min="0" inputmode="numeric" maxlength="3"
      [(ngModel)]="aliquotFormEdit.value.ValorCuota" (keypress)="soloNumeros($event)" required disabled>
    </ion-input>
  </ion-item>

  <ion-item class="items" lines="none">
    <ion-icon name="cash" slot="start"></ion-icon>
    <ion-input placeholder="Valor extra" type="tel" min="0" inputmode="numeric" maxlength="3"
      [(ngModel)]="aliquotFormEdit.value.ValorExtra" (keypress)="soloNumeros($event)" required>
    </ion-input>
  </ion-item>

  <ion-item class="items" lines="none">
    <ion-icon name="calendar" slot="start"></ion-icon>

    <ion-datetime cancelText="Cancelar" doneText="Guardar" mode="ios" [(ngModel)]="aliquotFormEdit.value.Fecha" required disabled>
    </ion-datetime>
  </ion-item>

  

  <ion-item class="items" lines="none">
    <ion-icon name="thumbs-up" slot="start"></ion-icon>
    <ion-select mode="ios" required [(ngModel)]="aliquotFormEdit.value.EstadoCuota">
      <ion-select-option *ngFor="let status of estadoCuotaList">{{status}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item class="items" lines="none">
    <ion-icon name="text-outline" slot="start"></ion-icon>
    <ion-input type='text' [(ngModel)]="aliquotFormEdit.value.Descripcion" maxlength="50" required></ion-input>
  </ion-item>

  <!-- Round -->
  <ion-item lines='none'>
    <ion-button color="danger" size="smaller" style="margin: auto;" shape="round" (click)="cancelar()">Cancelar</ion-button>
    <ion-button size="smaller" style="margin: auto;" shape="round" (click)="updateAliquot()">Guardar</ion-button>
  </ion-item>
</ion-content>