<ion-content fullscreen>

  
  <ion-card>
    <ion-item>
      
      <ion-thumbnail slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-thumbnail>
      <ion-label style="text-align: center;">Carnaval</ion-label>
      <div slot="end">
        <ion-icon class='Edit' name="create"></ion-icon>
        <br>
        <ion-icon class='Delete' name="trash"></ion-icon>
      </div>
      
    </ion-item>
  
    <ion-card-content>
      <p>This is content, without any paragraph or header tags,
      within an ion-card-content element.</p>
    </ion-card-content>
    
  </ion-card>
  
</ion-content>
