

.greenClass{
  color: green;
}

.orangeClass{
  color:orange
}

.redClass{
  color: red;
}

ion-toolbar{
  --background: #2196F3;
  --color: white;
}

ion-icon.Edit{
  color: green;
}

ion-icon.Delete{
  color: red;
}

ion-icon#reserva{
  color: #2196F3;
}

ion-segment{
  border-radius: 0px;
}

  ion-segment-button{
    --background-checked: #2196F3;
    --indicator-color: none;
    --color-checked: white;
    --border-radius: 0px;
    --border-color: none;
    --border-style: none;
    margin: 0px;
  }
