.ionCard{
  padding: 0px;
}

.ionGrid{
  padding: 0px;
}

.colImg{
  padding: 0px;
}

.greenClass{
  color: green;
}

.orangeClass{
  color:orange
}

.redClass{
  color: red;
}

ion-toolbar{
  --background: #2196F3;
  --color: white;
}