<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-tab-button (click)="goProfile()">
        <ion-icon class="back" name="arrow-back-circle"></ion-icon>
      </ion-tab-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-tab-button *ngIf="!searchBarOpen" (click)="searchBarOpen=true">
        <ion-icon name="search"></ion-icon>
      </ion-tab-button>
      <ion-tab-button (click)="createUserModal()">
        <ion-icon name="person-add"></ion-icon>
      </ion-tab-button>
    </ion-buttons>




    <ion-title style="text-align: center;">Usuarios</ion-title>
  </ion-toolbar>



</ion-header>

<ion-content fullscreen>
  <ion-searchbar mode="ios" *ngIf="searchBarOpen" mode="ios" (ionInput)="filterList($event)"
      showCancelButton='true' (ionCancel)="searchBarOpen=false"
      placeholder="Buscar por nombre......"
      cancelButtonText="Cancelar"
      (value)='searchValue=false'
      clearInput>
    </ion-searchbar>

  <ion-card *ngFor="let item of collection.data | paginate: config">
    <ion-item style="--padding-start: 0px;" lines="none">

      <ion-thumbnail slot="start" style="padding: 0px; margin: 0px; width: 48px; height: 48px;">
        <img src="{{item.Img}}" style="border-radius: 50%;">
      </ion-thumbnail>
      <ion-label style="text-align: center;">{{item.Name}}</ion-label>
        <ion-icon slot="end" class='Edit' name="create" (click)="editUserModal(item)"></ion-icon>
        <ion-icon slot="end" class='Delete' name="trash" (click)="deleteUser(item)"></ion-icon>
    </ion-item>
    <ion-card-content style="padding: 0px;">
      <ion-item>
        <ion-grid style="padding: 0px;">
          <ion-row>
            <ion-col style="font-size: 12px;">
              Telefono: <b>{{item.Telefono}}</b>
            </ion-col>
            <ion-col style="font-size: 12px;">
              Casa: <b>{{item.Casa}}</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 12px;">
              Correo: <b>{{item.Email}}</b>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 12px;">
              Tipo de usuario: <b>{{item.TipoUsuario}}</b>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <!--Botones - controladores de la paginacion-->
  <ion-item lines="none" style="margin: auto; display: table;">
    <pagination-controls previousLabel="Anterior" nextLabel="siguiente" responsive="true"
      (pageChange)="pageChanged($event)">
    </pagination-controls>
  </ion-item>



</ion-content>