<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <div class="form-sing">
                <h2 class="title">Iniciar sesion</h2>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input type="text" placeholder="Correo electronico" #userMail />
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input type="password" placeholder="Contraseña" #userPassword />
                </div>
                <button class="btn solid" (click)="login(userMail.value, userPassword.value)">Entrar</button>
            </div>
        </div>
    </div>

    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Eres nuevo?</h3>
                <p>
                    No tienes cuenta comunicate con tu presidente mas cercano y consigue tu cuenta
                </p>

            </div>
            <img src="../../../assets/img/casa-inteligente.svg" class="image" alt=""/>
        </div>
    </div>
</div>