<!-- Contenedor principal del login -->
<div class="content" role="main">
  <!--Titulo de la pagina-->
  <h2 style="text-align: center;">Seguimiento general de alicuotas</h2>

  <!--====================================================================================-->

  <!--boton que rediceccionaa para registrar alicuotas-->
  <a class="item" routerLink="/alicuotas/seguimiento/registrar" *ngIf="usersService.isAccountant">
    <i class="fas fa-money-check fa-sm fa-fw mr-2 text-gray-400" ></i>
    Registrar Seguimiento general de alicuotas
  </a>

  <!--===========================================================================-->

  <!-- Div card grid que incluye los datos de cada evento-->
  <div *ngFor="let item of collectionAliquotSeguimiento| paginate: config">

    <!--Grid de eventos-->
    <div class="grid-container responsive">

      

        <!--Primer item del grid-->
        <div class="item1"></div>

        <!--segundo div del grid-->
        <div class="item2">

          <!--Nombre del evento-->
          <div>
            <h5>{{item.Mes}} - {{item.Anio}}</h5>
          </div>

          <!--Descripcion del evento-->
          <div>
            <p style="font-size: 12px;">
              {{item.Descripcion}}
            </p>
          </div>

        </div>

        <!--tercer div del grid-->
        <div class="item3">

          <!--Estado del evento-->
          <div style="font-size: 12px;align-items: center; display: flex; justify-content: center;">
            Estado:
            <b>
              {{item.Estado}}
            </b>
          </div>

          <!--Lugar del evento-->
          <div style="font-size: 12px;align-items: center; display: flex; justify-content: center;">
            Alicuota: <b>{{item.ValorCuota}}</b>
          </div>

          <!--Numero de personas del evento-->
          <div style="font-size: 12px;align-items: center; display: flex; justify-content: center;">
            Total: <b>{{item.Total}}</b>
          </div>


        </div>

      </div>

    </div>

    <!--===========================================================================-->

    <!--Botones de paginacion-->
    <pagination-controls previousLabel="Anterior" nextLabel="siguiente" responsive="true"
      (pageChange)="pageChanged($event)">
    </pagination-controls>
  </div>