ion-item.items{
    --background: #f0f0f0;
    border-radius: 20px;
    margin: 0 10px 10px 10px;
}


ion-title{

    color: white;
}
    
ion-toolbar{
    --background: #2196F3;
    --color: white;
  }
    

    
    ion-item.items{
        margin: 10px 10px 20px 10px;
    }
    
    .redClass{
        color: red;
      }
    
    