<ion-toolbar>
  <ion-title style="text-align: center;">Editar Alicuota</ion-title>
</ion-toolbar>

<ion-content fullscreen>

  <ion-item class="items" lines="none">
    <ion-label>Hora</ion-label>
    <ion-datetime display-format="h:mm A" picker-format="h:mm A" [(ngModel)]="scheduleTrasFormEdit.value.Hora"></ion-datetime>
  </ion-item>
  <ion-item class="items" lines="none">
    <ion-icon name="text-outline" slot="start"></ion-icon>
    <ion-input type='text' [(ngModel)]="scheduleTrasFormEdit.value.Descripcion" maxlength="50" required></ion-input>
  </ion-item>
  
  <!-- Round -->
  <ion-item lines='none'>
    <ion-button color="danger" size="smaller" style="margin: auto;" shape="round" (click)="cancelar()">Cancelar</ion-button>
    <ion-button size="smaller" style="margin: auto;" shape="round" (click)="updateScheduleTrash()">Guardar</ion-button>
  </ion-item>
</ion-content>