<!-- Contenedor del contenido -->
<div class="content" role="main">

    <!-- div del contenedor del chat-->
    <div class="containerchat">

        <!-- Mensajes de acuerdo al usuario-->
        <div class="messaging">
            <div class="inbox_msg">

                <!--==========================================================================-->

                <!-- Contenedor del lista de los usuarios para el chat-->
                <div class="inbox_people">

                    <!-- Titulo -->
                    <div class="headind_srch">
                        <div class="channel_heading">
                            <h4>Contactos</h4>
                        </div>
                    </div>

                    <!-- Caja de listado de contactos -->
                    <div class="inbox_chat">

                        <!-- listado de contactos convertidos en botones -->
                        <div class="channels" *ngFor="let user of usersList" (click)="gotoChatRoom(user.Uid,user.Name)"
                            button>

                            <!-- listado de usuario con condicionamiento que sea diferente al usuario actual -->
                            <div class="chat_list" *ngIf="user.id != userUid">

                                <!-- caja que contiene informacion de cada usuario -->
                                <div class="chat_people">

                                    <!-- Imagen del usuario-->
                                    <img class="img-profile rounded-circle" src="{{user.Img}}">

                                    <!-- Nombre y correo del usuario -->
                                    <div class="chat_ib">
                                        <h5>
                                            {{user.Name}}
                                        </h5>
                                        <p>
                                            {{user.Email}}
                                        </p>
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>

                <!--==========================================================================-->

                <!-- Contenedor de los mensajes para cada usuario-->
                <div class="mesgs">

                    <!-- Titulo -->

                    <div class="headind_srch">
                        <div class="channel_heading">
                            <h4>{{name}}</h4>
                        </div>
                    </div>

                    <!-- Historial de mensajes-->
                    <div class="msg_history">

                        
                            <ul class="list-group" *ngFor="let chat of chats" style="padding: 10px;" >

                            <!-- Contendor del mensaje del otro usuario-->
                            <div class="grid-container responsive">
                                
                                <li class="list-group-item" *ngIf="chat.uid !== uid" id="chatOtro">

                                

                                <!-- Mensaje del otro usuario-->
                                <label>{{chat.msg}}</label>

                            </li>
                            </div>
                            
                            
                            <div class="grid-container responsive" id="chats">
                            <!-- Contendor del mensaje del usuario actual-->
                                <div></div>
                                
                                <li class="list-group-item" *ngIf="chat.uid === uid" style="text-align: end;" id="chatMio">

                                
                                <!--Mensaje del usuario actual-->
                                <label>{{chat.msg}}</label>

                            </li>
                            </div>
                            

                        </ul>
                        
                        <!-- Lista con los mensajes obtenidos mediante un for-->
                        

                    </div>

                    <!-- Div para el envio de mensajes-->
                    <div class="type_msg">
                        <div class="input-group">
                            <!-- input de introduccion de mensajes y envio mediante la tecla enter-->
                            
                            <input type="text" class="form-control" placeholder="Escribir....." name="newMessage"
                                #textMsg (keyup.enter)="send(textMsg.value)"/>
                            <!--Boton para el envio de mensajes mediante el evento click -->
                            <button class="msg_send_btn" type="button" (click)="send(textMsg.value)">
                                <i class="fa fa-paper-plane" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>

                </div>
                <!--==========================================================================-->

            </div>
        </div>

    </div>

</div>