


    <!-- Toolbar -->
    <div class="content" role="main">
    <div class="containerchat">
        
        <div class="messaging">
            <div class="inbox_msg">
                <div class="inbox_people">
                    <div class="headind_srch">
                        <div class="channel_heading">
                            <h4>Contactos</h4>
                        </div>
                    </div>
                    <div class="inbox_chat">
                        <div class="channels" *ngFor="let user of usersList" (click)="gotoChatRoom(user.Uid,user.Name)" button>
                            <div class="chat_list" *ngIf="user.id != userUid">
                                
                                <div class="chat_people">
                                    <img class="img-profile rounded-circle" src="https://picsum.photos/seed/picsum/200/300">
                                    <div class="chat_ib">
                                        <h5>
                                            {{user.Name}}
                                        </h5>
                                        <p>
                                            {{user.Email}}
                                        </p>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mesgs">
                    <div class="msg_history">
                        <div class="chat-main-header">
                            <div class="p-20 b-b">
                                <h3 class="box-title" style="text-align: center;"><small>{{name}}</small></h3>
                            </div>
                        </div>
                    
                        <ul class="list-group"*ngFor="let chat of chats">
                            <li class="list-group-item" *ngIf="chat.uid !== uid">
                                <b><p>{{name}}</p></b>
                                
                                <p>{{chat.msg}}</p>
                                
                            </li>
                            <li class="list-group-item" *ngIf="chat.uid === uid" style="text-align: end;">
                                <b><p>yo</p></b>
                                <p>{{chat.msg}}</p>
                                
                            </li>
                            
                          </ul>

                        
                      </div>
                    <div class="type_msg">
                       
                            <input type="text" class="write_msg" placeholder="Type a message" name="newMessage"
                                #textMsg (keyup.enter)="send(textMsg.value)"/>
                            <button class="msg_send_btn" type="button" (click)="send(textMsg.value)">
                                <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                            </button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
