<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div id="main-wrapper">
        <div class="page-wrapper">
            <div class="container-fluid">
                <div class="row animated fadeIn">
                    <div class="col-12">
                        <div class="card m-b-0">
                            <!-- .chat-row -->
                            <div class="chat-main-box">
                                <!-- .chat-left-panel -->
                                <div class="chat-left-aside">
                                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                                    <div class="chat-left-inner">
                                        <div class="form-material">
                                            <input class="form-control p-20" type="text" placeholder="Buscar Contacto">
                                        </div>
                                        <ul class="chatonline style-none" id="divUsuarios">
                                           
                                            <li>
                                                <a href="javascript:void(0)"><img src="assets/images/users/1.jpg"
                                                         class="img-circle"> <span>Miguel </span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="assets/images/users/2.jpg"
                                                         class="img-circle"> <span>Bryna </span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:void(0)"><img src="assets/images/users/3.jpg"
                                                         class="img-circle"> <span>Pozo </span></a>
                                            </li>                                     
                                            <li class="p-20"></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- .chat-left-panel -->
                                <!-- .chat-right-panel -->
                                <div class="chat-right-aside">
                                    <div class="chat-main-header">
                                        <div class="p-20 b-b">
                                            <h3 class="box-title" style="text-align: center;"><small>@user</small></h3>
                                        </div>
                                    </div>
                                    <div class="chat-rbox">
                                        <ul class="chat-list p-20" id="divChatbox">
                                            <!--chat Row -->
                                            <li>
                                                <div class="chat-img"><img src="assets/images/users/1.jpg"
                                                    class="img-circle"> <span>Miguel </span>
                                                </div>
                                                <div class="chat-content">
                                                    
                                                    <div class="box bg-light-info">Lorem Ipsum is simply dummy text of
                                                        the printing & type setting industry.</div>
                                                </div>
                                                <div class="chat-time">10:56 am</div>
                                            </li>
                                            <!--chat Row -->
                                            <li>
                                                <div class="chat-img"><img src="assets/images/users/1.jpg"
                                                    class="img-circle"> <span>Miguel </span>
                                                </div>
                                                <div class="chat-content">
                                                    <div class="box bg-light-info">It’s Great opportunity to work.</div>
                                                </div>
                                                <div class="chat-time">10:57 am</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-body b-t">
                                        <div class="row">
                                            <div class="col-8">
                                                <textarea placeholder="Escribe tu mensaje aquí"
                                                    class="form-control b-0"></textarea>
                                            </div>
                                            <div class="col-4 text-right">
                                                <button type="button" class="btn btn-info btn-circle btn-lg"><i
                                                        class="fa fa-paper-plane-o"></i> </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- .chat-right-panel -->
                            </div>
                            <!-- /.chat-row -->
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>